<%- include("../partials/header.ejs")%>
<div class="container">

    <form action="/clients/<%=customer._id%>/?_method=PUT" method="POST" class="standaloneForm">
        <h2>Edytuj dane Klienta</h2>
        <input type="text" name="client[name]" placeholder="Imie" value="<%=customer.name%>">
        <input type="text" name="client[lastName]" placeholder="Nazwisko" value="<%=customer.lastName%>">
        <input type="text" name="client[telephone]" placeholder="Telefon" value="<%=customer.telephone%>">
        <input type="text" name="client[town]" placeholder="Miasto" value="<%=customer.town%>">
        <input type="text" name="client[address]" placeholder="Adress" value="<%=customer.address%>">
        <input type="text" name="client[description]" placeholder="Opis" value="<%=customer.description%>">

        <input type="submit" value="Zapisz">

    </form>
</div>
<%- include("../partials/footer.ejs")%>