<%- include("../partials/header.ejs")%>
<div class="container">

    <form action="/clients/<%=customer._id%>/?_method=PUT" method="POST" class="standaloneForm">
        <h3 class="smallHeader">Edytuj dane Klienta</h3>
        <div class="orderInfoDiv">

        <input type="text" name="client[name]" value="<%=customer.name%>">
            <label>Imię</label>
        <input type="text" name="client[lastName]" value="<%=customer.lastName%>">
            <label>Nazwisko</label>
            <input type="text" name="client[telephone]" value="<%=customer.telephone%>">
            <label>Telefon</label>
            <input type="text" name="client[town]" value="<%=customer.town%>">
            <label>Miejscowość</label>

            <input type="text" name="client[address]" value="<%=customer.address%>">
            <label>Adres</label>

            <input type="text" name="client[description]"  value="<%=customer.description%>">
            <label>Opis</label>

        </div>
        <input type="submit" value="Zapisz">

    </form>
</div>
<%- include("../partials/footer.ejs")%>