<%- include("../partials/header.ejs")%>

<div class="container">

    <p><%=person.name%> <%=person.lastName%></p>
    <p><%=person.description%></p>
    <h3>Adres:</h3>
    <p><%=person.address%></p>
    <p>Tel.: <%=person.telephone%></p>

</div>

<%- include("../partials/footer.ejs")%>

