<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/clientprint.css" rel="stylesheet" type="text/css">
    <link href="/css/clientprint.css" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
<div class="a4">


    <div class="topBar">
        <div id="left-header">
            <div id="left-header-top">
                <img src="/images/brandLogo.png">
            </div>
            <div id="left-header-bottom">
                <span>Oferta Cenowa</span>
            </div>
        </div>
        <div class="right-header">
            <span>STYBOWSKI Zakład Stolarski Jacek Stybowski</span>
            <span>Kontakt: 567 234 23 | www.stolarniastybowski.pl</span>
            <span>Wikielec 77 C, 14-200 Iława</span>
            <span>NIP: 744 100 46 28</span>
        </div>
    </div>


    <div class="contentPrint">
        <%if(order.drewnaKonstrukcyjne.length){%>
        <div class="itemTitle">
            <span>Drewno Konstrukcyjne<span>
        </div>
        <table>
            <%var cumulatedValue = 0;%>
            <tr>
                <th>Szerokość [m]</th><th>Wysokość [m]</th><th>Długość [m]</th><th>Ilość [szt.]</th><th>Impregnacja</th><th>Heblowanie [strony]</th><th>Cena/m<sup>3</sup></th><th>Koszt</th>
            </tr>
            <%order.drewnaKonstrukcyjne.forEach(function(elmnt){
            var hebelAmount = 0;
            var paintedElement = "Nie";
                if(elmnt.htop)
                    hebelAmount+=1;

                if(elmnt.hright)
                    hebelAmount+=1;

                if(elmnt.hbottom)
                    hebelAmount+=1;

                if(elmnt.hleft)
                    hebelAmount+=1;

                if(elmnt.painted)
                    paintedElement = "Tak";
                cumulatedValue+=elmnt.value
                    %>


                <tr>
                    <td><%=elmnt.x%></td><td><%=elmnt.y%></td><td><%=elmnt.length%></td><td><%=elmnt.amount%></td><td><%=paintedElement%></td><td><%=hebelAmount%></td><td class="nettoToBrutto"><%=elmnt.price%> zł</td><td><%=elmnt.value%> zł</td>
                </tr>

            <%})%>

        </table>
        <div class="productSumValue">
            Suma: <span><%=cumulatedValue%> zł </span>
        </div>


    <%}%>
            <%if(order.calowki.length){%>
                <div class="itemTitle">
                    <span>Calówki</span>
                </div>
                <table>
                    <%var cumulatedValue = 0;%>
                    <tr>
                        <th>Objętość [m3] </th><th>Szerokość [m]</th><th>Długość [m]</th><th>Ilość [szt.]</th><th>Impregnacja</th><th>Heblowanie [strony]</th><th>Cena/m<sup>3</sup></th><th>Koszt</th>
                    </tr>
                    <%order.calowki.forEach(function(elmnt){
                        var hebelAmount = 0;
                        var paintedElement = "Nie";
                        if(elmnt.htop)
                            hebelAmount+=1;



                        if(elmnt.hbottom)
                            hebelAmount+=1;



                        if(elmnt.painted)
                            paintedElement = "Tak";
                        cumulatedValue+=elmnt.value
                    %>


                    <tr>
                        <td><%=elmnt.v%></td><td><%=elmnt.x%></td><td><%=elmnt.length%></td><td><%=elmnt.amount%></td><td><%=paintedElement%></td><td><%=hebelAmount%></td><td class="nettoToBrutto"><%=elmnt.price%> zł</td><td><%=elmnt.value%> zł</td>
                    </tr>

                    <%})%>

                </table>
                <div class="productSumValue">
                    Suma: <span><%=cumulatedValue%> zł</span>
                </div>

            <%}%>
            <%if(order.lata.value){%>
            <div class="itemTitle">
                <span>Łaty</span>
            </div>
            <table>
                <%var cumulatedValue = 0;
                var paintedElement = "Nie";
                if(order.lata.painted)
                    paintedElement = "Tak";
                %>
                <tr>
                    <th>Metry bieżące [m] </th><th>Impregnacja</th><th>Cena/m.b.</th><th>Koszt</th>
                </tr>

                <tr>
                    <td><%=order.lata.metryBiezace%></td><td><%=paintedElement%></td><td class="nettoToBrutto"><%=order.lata.price%> zł</td><td><%=order.lata.value%> zł</td>
                </tr>


            </table>
            <div class="productSumValue">
                Suma: <span><%=order.lata.value%> zł</span>
            </div>

            <%}%>
            <%if(order.kontrlata.value){%>
                <div class="itemTitle">
                    <span>Kontrłaty</span>
                </div>
                <table>
                    <%var cumulatedValue = 0;
                        var paintedElement = "Nie";
                        if(order.kontrlata.painted)
                            paintedElement = "Tak";
                    %>
                    <tr>
                        <th>Metry bieżące [m] </th><th>Impregnacja</th><th>Cena/m.b.</th><th>Koszt</th>
                    </tr>

                    <tr>
                        <td><%=order.kontrlata.metryBiezace%></td><td><%=paintedElement%></td><td class="nettoToBrutto"><%=order.kontrlata.price%> zł</td><td><%=order.kontrlata.value%> zł</td>
                    </tr>


                </table>
                <div class="productSumValue">
                    Suma: <span><%=order.kontrlata.value%> zł</span>
                </div>

            <%}%>
            <%if(order.paczkaOpalu.value){%>
                <div class="itemTitle">
                    <span>Opał</span>
                </div>
                <table>
                    <%var cumulatedValue = 0;

                    %>
                    <tr>
                        <th>Ilość paczek [szt.] </th><th>Informacje</th><th>Cena/paczkę</th><th>Koszt</th>
                    </tr>

                    <tr>
                        <td><%=order.paczkaOpalu.amount%></td><td><%=order.paczkaOpalu.description%></td><td class="nettoToBrutto"><%=order.paczkaOpalu.price%> zł</td><td><%=order.paczkaOpalu.value%> zł</td>
                    </tr>


                </table>
                <div class="productSumValue">
                    Suma: <span><%=order.paczkaOpalu.value%> zł</span>
                </div>

            <%}%>
            <%if(order.transport.value){%>
            <div class="itemTitle">
                <span>Transport</span>
            </div>
            <table>
                <%var cumulatedValue = 0;

                %>
                <tr>
                    <th>Kilometry</th><th>Informacje</th><th>Cena/km.</th><th>Koszt</th>
                </tr>

                <tr>
                    <td><%=order.transport.kilometers%></td><td><%=order.transport.description%></td><td class="nettoToBrutto"><%=order.transport.price%> zł</td><td><%=order.transport.value%> zł</td>
                </tr>


            </table>
            <div class="productSumValue">
                Suma: <span><%=order.transport.value%> zł</span>
            </div>

            <%}%>
            <div class="OrderDescription">
                <%=order.description%>
            </div>
            <div class="OrderValue">
                Do zapłaty: <span><%=order.value.toFixed(2)%> zł</span>
            </div>
    </div>

</div>
<script src="/js/print.js"></script>
</body>
</html>